body {
  background-color: $body-color;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.round-corner-1{
  border-radius: .5em;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &-sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &-md {
    padding-top: 150px;
    padding-bottom: 40px;

    @include mobile {
      padding-top: 100px;
    }
  }
  &-hero {
    padding-top: 300px;
    padding-bottom: 100px;

    @include  desktop-lg{
      padding-top: 200px;
      padding-bottom: 50px;
    }

    @include tablet {
      padding-top: 200px;
      padding-bottom: 50px;
    }

    @include mobile {
      padding-top: 200px;
      padding-bottom: 50px;
    }

  }
  &-why {
    padding-top: 350px;
    padding-bottom: 40px;
    
    @include  tablet {
      padding-top: 250px;
      padding-bottom: 200px;
    }
    @include  desktop-lg{
      padding-top: 150px;
      padding-bottom: 200px;
    }
    @include  desktop-xlg{
      padding-top: 500px;
      padding-bottom: 200px;
    }
   
  }

  &-lg {
    padding-top: 200px;
    padding-bottom: 200px;

    @include mobile {
      padding-top: 50px;
      padding-bottom: 150px;
    }
  }

  &-title {
    margin-bottom: 30px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.page-title {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.bg-primary {
  background: $primary-color !important;
}

.bg-gray {
  background: $gray;
}

.text-primary {
  color: $primary-color !important;
}
.text-white{
  color: $white;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-purple{
  color: #9491ff !important;
}

.text-color {
  color: $text-color;
}

.primary-shadow {
  box-shadow: $primary-shadow;
}

.border-blue {
  border-color: #dcebf4 !important;
}
.border-grey{
  border-color: #e9e9e9 !important;
}

.shadow-primary {
  box-shadow: $primary-shadow;
}

.facebook {
  color: #334bff;
}

.twitter {
  color: #45d9f0;
}

.linkedin {
  color: #1b91ff;
}
.youtube {
  color: #d62b2b;
}
.black {
  color: $black;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}
.translate-y-30{
  transform: translateY(30px);
}
.translate-y-60{
  transform: translateY(60px);
}
.translate-y-90{
  transform: translateY(90px);
}
.translate-y-150 {
  transform: translateY(150px);

  @include mobile {
    transform: translateY(0);
  }
}

.left-right-animation {
  animation: left_right 3s ease-in infinite alternate-reverse;
}

@keyframes left_right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20px);
  }
}

.up-down-animation {
  animation: up_down 3s ease-in infinite alternate-reverse;
}

@keyframes up_down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.zindex-1{
  z-index: 1;
}

.hover__effet__text_line::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 0px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}


.hover__effet__text_line:hover::before {
transform-origin: left;
transform: scaleX(1);
}

.hover__effet__text::before{
  content: '>>';
  position: absolute;
  // width: 100%;
  right: -30px;
  top: 1px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}


.hover__effet__text:hover::before {
transform-origin: left;
transform: scaleX(1);
}

.text__white{
  color: $white;
}

.text__black{
  color: $black;
}

.hide{
  display: none;
}

video{
  position: absolute;
  top:0;
  left:0;
  display: block;
  width:100%;
  height: 100%;
  object-fit: cover;
}
.team-member{
  min-height: 400px;
}

.spacing{
  margin-top: 4em;
}

mark{
  background-color: #000000;
}

.svg__icon {
  width: 4em;
}


.container{
  // svg{
  //     margin-top: 0em;
  //     position: absolute;
  //     width: 2em;
  //     animation: arrowsvganim 1s alternate-reverse infinite;
  //     path{
  //         fill:rgb(0, 0, 0);
  //     }
  // }
  &-footer{
    margin-left: 100px;
    margin-right: 100px;

    @include mobile {
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}

// .logo_bg_black{
//   background-color: #000000;
// }

// .logo_bg_white{
//   background-color: #ffffff;
// }


.lines{
  z-index: 1;
  position: relative;
  top:-80px;
  background-color: #000000;
  width: 5%;
  height: 4em;

  @include tablet {
    display: none;
  }
}
.lines-2{
  z-index: 1;
  position: relative;
  float: right;
  bottom:35px;
  background-color: #000000;
  width: 5%;
  height: 4em;
  
  @include tablet {
    display: none;
  }
}



// ....................floating buttons..............
.twitter {
  color: #72898b;
  text-decoration: none;
  display: block;
  padding: 14px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.twitter:hover {
  color: #FF7D6D;
  text-decoration: none;
}

// span {
//   display: block;
// }

img {
  max-width: 100%;
}
/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #00000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  height: 40px;
  position: fixed;
  right: -140px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.fa {
  font-size: 24px;
  color: rgb(0, 0, 0);
  // padding: 10px 0;
  width: 40px;
  // margin: 14px;
  // margin-top: 20px !important;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
}
.float-fb {
  top: 50vh;
}

.float-tw {
  top: 56vh;
}

.float-gp {
  top: 62vh;
}

.float-rs {
  top: 68vh;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}

/* Floating Social Media Bar Style Ends Here */


// ...............poly shapes.....................

.poly_shape_1{
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: -1;

  @include tablet {
    display: none;
  }
}
.poly_shape_2{
  position: absolute;
  right: 0px;
  top: 500px;
  z-index: -1;

  @include tablet {
    display: none;
  }
}

.poly_shape_3{
  position: absolute;
  top: 600px;
  z-index: -1;

  @include tablet {
    display: none;
  }
}

.poly_shape_4{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;

  @include tablet {
    display: none;
  }
}


.animation_bg{
  position: absolute;
  height: 100vh;
  
  }
  
  #scene{
      z-index: -2000;
  }
  .bg_shapes{
    z-index: -2000;
    @include tablet {
      display: none;
    }
  }
  
  .hero-bg-1{
      right:800px;
      top: 0px;
  }
  
  .hero-bg-2{
      right:200px;
      top: 400px;
  }
  .hero-bg-3{
      left:1400px;
      top: -400px;
  }
  
  .hero-bg-4{
      left:1200px;
      top: 100px;
  }



  .floating_link:hover {
     text-decoration: underline;
     color: #fff;
  }


  .f-hover:hover{
    color: #cf0a66;
  }  

.copyright-text{
  font-size: .8rem;
  color: white;
}

.bottom-border{
  padding-bottom: 1em;
 border-bottom: .1em solid;
}
  
.f-icon-padding{
  padding-right: .5em;
  
}

.f-socials{
  color: white;
  padding: .8em;
  border: .1em solid;
  margin: .5em;
}

.f-socials:hover{
  color: #cf0a66;
}

.float-sm{
  @include mobile {
    display: none;
  }
}

.blog_list li {
 font-size: 20px;
list-style: disc;
}

.blog_1_img{
  width: 100%;
  img{
  height: 400px;
  object-fit: cover;
  }
}