// Color Variables
$primary-color: #008dec;
$text-color: #3f4459;
$text-color-dark: #091337;
$body-color: #fff;
$gray:#f2f3f5;
$dark: #212329;
$black: #000;
$white: #fff;
// $cb-orange: #F75411;
// $cb-orange-pastel: #F67F47;
// $cb-blue: #086BAC;
// $cb-green: #7DD302;
// $cb-yellow: #F8CA02;
// $cb-pink-1: #CE0965;
// $cb-pink-2: #EC336C;
// $cb-pink-pastel: #E0697D;
$cb-orange: #F75411;
$cb-orange-pastel: #f1a27e;
$cb-blue: #086BAC;
$cb-blue-pastel: #89d0ff;
$cb-green: #7DD302;
$cb-green-light: #d2fd96;
$cb-yellow: #F8CA02;
$cb-pink-1: #CE0965;
$cb-pink-2: #EC336C;
$cb-pink-pastel: #fdabc8;


// $primary-gradient: linear-gradient( 25deg, rgb(20, 132, 184) 0%, rgb(113, 150, 252) 95%);
$primary-gradient: linear-gradient( 25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%);
$primary-gradient-alt: linear-gradient( 205deg, rgb(70, 70, 70) 0%, rgb(119, 119, 119) 95%);
$secondary-gradient: linear-gradient( 6deg, rgb(163, 214, 255) 0%, rgb(196, 215, 255) 100%);
$secondary-gradient-alt: linear-gradient( 186deg, rgb(23,255,211) 0%, rgb(35,227,238) 100%);
$primary-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);

// Font Variables

// $primary-font:'Space Grotesk', sans-serif;
$primary-font:'Raleway', sans-serif;
// $secondary-font:'Montserrat', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$special-font:'Staatliches', cursive;
$special-font-2:'Bebas Neue', cursive;
$icon-font: 'themify';
