@charset "UTF-8";
/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/* 1.1 typography */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
body {
  line-height: 31px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
}

p, .paragraph {
  font-weight: 300;
  color: #3f4459;
  font-size: 17px;
  line-height: 31px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #091337;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, .h1 {
  font-size: 48px !important;
  letter-spacing: 0.1rem;
}
@media (max-width: 575px) {
  h1, .h1 {
    font-size: 24px !important;
  }
}
@media (max-width: 767px) {
  h1, .h1 {
    font-size: 24px !important;
  }
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 28px !important;
  }
}
@media (max-width: 1200px) {
  h1, .h1 {
    font-size: 40px;
  }
}

h2, .h2 {
  font-size: 42px;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  h2, .h2 {
    font-size: 24px !important;
  }
}

h3, .h3 {
  font-size: 37px !important;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  h3, .h3 {
    font-size: 24px !important;
  }
}

h4, .h4 {
  font-size: 22px;
  letter-spacing: 1px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 13px;
}

.text-small {
  font-size: 14px !important;
  min-height: 200px;
}

.bold {
  font-weight: 500;
}

.subhead {
  font-weight: 400;
}

.special-font {
  font-family: "Staatliches", cursive !important;
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.btn {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  padding: 15px 60px;
  font-weight: 400;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
}

.btn-talk {
  background: #fff;
  color: #000;
  transition: transform 0.2s;
  padding: 1em 2rem;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  border-radius: 10px;
  text-transform: uppercase;
}
.btn-talk:hover {
  background: none;
  border: solid;
  border-color: rgb(255, 255, 255);
  color: #fff;
  transform: scale(1.05);
}

.btn-primary {
  background-image: linear-gradient(25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%);
  margin-top: 1.5rem;
  padding: 1em 2rem;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  border-radius: 10px;
  color: #fff;
  transition: transform 0.2s;
}
.btn-primary:active {
  background: linear-gradient(25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%) !important;
}
.btn-primary:hover {
  background: none;
  border: solid;
  border-color: black;
  color: #091337;
  transform: scale(1.05);
}

.btn-secondary {
  background-image: linear-gradient(6deg, rgb(163, 214, 255) 0%, rgb(196, 215, 255) 100%);
  background-color: transparent;
  color: #091337;
  padding: 1em 2em;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  border-radius: 10px;
  transition: transform 0.2s;
}
.btn-secondary:active {
  background: linear-gradient(6deg, rgb(163, 214, 255) 0%, rgb(196, 215, 255) 100%) !important;
}
.btn-secondary:hover {
  background: none;
  border: solid;
  border-color: rgb(255, 255, 255);
  color: #fff;
  transform: scale(1.05);
}

.btn-card {
  background-image: linear-gradient(6deg, rgb(163, 214, 255) 0%, rgb(196, 215, 255) 100%);
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #091337;
  transition: transform 0.2s;
}
.btn-card:active {
  background: linear-gradient(25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%) !important;
}
.btn-card:hover {
  background: none;
  border: solid;
  border-color: rgb(255, 255, 255);
  color: #fff;
  transform: scale(1.05);
}

.btn-card-2 {
  background-image: linear-gradient(25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%);
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fff;
  transition: transform 0.2s;
}
.btn-card-2:active {
  background: linear-gradient(25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%) !important;
}
.btn-card-2:hover {
  background: none;
  border: solid;
  border-color: rgb(0, 0, 0);
  color: #000;
  transform: scale(1.05);
  padding-left: 1.5em;
}

.btn-black {
  background-image: linear-gradient(25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%);
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fff;
  transition: transform 0.2s;
}
.btn-black:after {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.btn-black:active {
  background: linear-gradient(25deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 95%) !important;
}
.btn-black:hover {
  background: none;
  border: solid;
  border-color: rgb(0, 0, 0);
  color: #000;
  transform: scale(1.05);
  padding-left: 1.5em;
}
.btn-black:hover:after {
  opacity: 1;
  right: 10px;
}

.btn-lg {
  padding: 15px 85px;
}

.link:hover {
  color: #000 !important;
}

.btn-third {
  background-image: linear-gradient(6deg, rgb(163, 214, 255) 0%, rgb(196, 215, 255) 100%);
  background-color: transparent;
  color: #000 !important;
  transition: transform 0.2s;
}
.btn-third:active {
  background: linear-gradient(6deg, rgb(163, 214, 255) 0%, rgb(196, 215, 255) 100%) !important;
}
.btn-third:hover {
  background: none;
  border: solid;
  border-color: rgb(0, 0, 0);
  color: #fff;
  transform: scale(1.05);
}

.ti__icon {
  padding: 0.5em;
}

.btn-2 {
  padding: 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 10px 2px;
  right: 30px;
}

#myBtn:hover {
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: black;
}
#myBtn:hover .btotop {
  color: black;
}

.btotop {
  padding: 0.5em 1em;
}

.blog-btn {
  font-size: 2.5em;
  color: black;
}

.blog-btn:hover {
  font-size: 3em;
  color: #CE0965;
}

/**
* rome - Customizable date (and time) picker. Opt-in UI, no jQuery!
* @version v2.1.22
* @link https://github.com/bevacqua/rome
* @license MIT
*/
.rd-container {
  display: none;
  /*border: 1px solid #333;*/
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 15px 30px 0 rgba(80, 80, 80, 0.2);
  border-radius: 1em;
}

.rd-container-attachment {
  position: absolute;
}

.rd-month {
  display: inline-block;
  margin-right: 25px;
}

.rd-month:last-child {
  margin-right: 0;
}

.rd-back,
.rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.rd-back[disabled],
.rd-next[disabled] {
  cursor: default;
}

.rd-back {
  float: left;
  margin-left: 10px;
}

.rd-next {
  float: right;
  margin-right: 10px;
}

.rd-back:before {
  display: block;
  content: "←";
}

.rd-next:before {
  display: block;
  content: "→";
}

.rd-day-body {
  cursor: pointer;
  text-align: center;
  /* new */
  line-height: 0;
  width: 50px !important;
  height: 50px !important;
}

.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {
  cursor: pointer;
  background-color: #1b1b1b;
  color: #fff;
  /* new */
  border-radius: 50%;
}

.rd-day-prev-month,
.rd-day-next-month {
  color: #ccc;
}

.rd-day-disabled {
  cursor: default;
  color: #fcc;
}

.rd-time {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  min-width: 80px;
}

.rd-time-list {
  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 160px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #333;
}

.rd-time-selected {
  padding: 5px;
}

.rd-time-option {
  padding: 5px;
}

.rd-day-concealed {
  visibility: hidden;
}

.rd-days {
  margin-top: 20px;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #20a5ff;
  color: #fff;
}

::selection {
  background: #20a5ff;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a:hover {
  color: #008dec;
}

.slick-slide {
  outline: 0;
}

.round-corner-1 {
  border-radius: 0.5em;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-hero {
  padding-top: 300px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 400px;
  }
}
@media (max-width: 575px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 50px;
  }
}
.section-why {
  padding-top: 350px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .section-why {
    padding-top: 250px;
    padding-bottom: 200px;
  }
}
@media (max-width: 1200px) {
  .section-why {
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
@media (min-width: 1600px) {
  .section-why {
    padding-top: 500px;
    padding-bottom: 200px;
  }
}
.section-lg {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (max-width: 575px) {
  .section-lg {
    padding-top: 50px;
    padding-bottom: 150px;
  }
}
.section-title {
  margin-bottom: 30px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.page-title {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-primary {
  background: #008dec !important;
}

.bg-gray {
  background: #f2f3f5;
}

.text-primary {
  color: #008dec !important;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #091337 !important;
}

.text-purple {
  color: #9491ff !important;
}

.text-color {
  color: #3f4459;
}

.primary-shadow {
  box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
}

.border-blue {
  border-color: #dcebf4 !important;
}

.border-grey {
  border-color: #e9e9e9 !important;
}

.shadow-primary {
  box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
}

.facebook {
  color: #334bff;
}

.twitter {
  color: #45d9f0;
}

.linkedin {
  color: #1b91ff;
}

.youtube {
  color: #d62b2b;
}

.black {
  color: #000;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.translate-y-30 {
  transform: translateY(30px);
}

.translate-y-60 {
  transform: translateY(60px);
}

.translate-y-90 {
  transform: translateY(90px);
}

.translate-y-150 {
  transform: translateY(150px);
}
@media (max-width: 575px) {
  .translate-y-150 {
    transform: translateY(0);
  }
}

.left-right-animation {
  animation: left_right 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes left_right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes left_right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}
.up-down-animation {
  animation: up_down 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes up_down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes up_down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.zindex-1 {
  z-index: 1;
}

.hover__effet__text_line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 0px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover__effet__text_line:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hover__effet__text::before {
  content: ">>";
  position: absolute;
  right: -30px;
  top: 1px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover__effet__text:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.text__white {
  color: #fff;
}

.text__black {
  color: #000;
}

.hide {
  display: none;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-member {
  min-height: 400px;
}

.spacing {
  margin-top: 4em;
}

mark {
  background-color: #000000;
}

.svg__icon {
  width: 4em;
}

.container-footer {
  margin-left: 100px;
  margin-right: 100px;
}
@media (max-width: 575px) {
  .container-footer {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.lines {
  z-index: 1;
  position: relative;
  top: -80px;
  background-color: #000000;
  width: 5%;
  height: 4em;
}
@media (max-width: 767px) {
  .lines {
    display: none;
  }
}

.lines-2 {
  z-index: 1;
  position: relative;
  float: right;
  bottom: 35px;
  background-color: #000000;
  width: 5%;
  height: 4em;
}
@media (max-width: 767px) {
  .lines-2 {
    display: none;
  }
}

.twitter {
  color: #72898b;
  text-decoration: none;
  display: block;
  padding: 14px;
  transition: all 0.25s ease;
}

.twitter:hover {
  color: #FF7D6D;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Floating Social Media Bar Style Starts Here */
.fl-fl {
  background: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  height: 40px;
  position: fixed;
  right: -140px;
  z-index: 1000;
  font: normal normal 10px Arial;
  transition: all 0.25s ease;
}

.fa {
  font-size: 24px;
  color: rgb(0, 0, 0);
  width: 40px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
}

.float-fb {
  top: 50vh;
}

.float-tw {
  top: 56vh;
}

.float-gp {
  top: 62vh;
}

.float-rs {
  top: 68vh;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}

/* Floating Social Media Bar Style Ends Here */
.poly_shape_1 {
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: -1;
}
@media (max-width: 767px) {
  .poly_shape_1 {
    display: none;
  }
}

.poly_shape_2 {
  position: absolute;
  right: 0px;
  top: 500px;
  z-index: -1;
}
@media (max-width: 767px) {
  .poly_shape_2 {
    display: none;
  }
}

.poly_shape_3 {
  position: absolute;
  top: 600px;
  z-index: -1;
}
@media (max-width: 767px) {
  .poly_shape_3 {
    display: none;
  }
}

.poly_shape_4 {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}
@media (max-width: 767px) {
  .poly_shape_4 {
    display: none;
  }
}

.animation_bg {
  position: absolute;
  height: 100vh;
}

#scene {
  z-index: -2000;
}

.bg_shapes {
  z-index: -2000;
}
@media (max-width: 767px) {
  .bg_shapes {
    display: none;
  }
}

.hero-bg-1 {
  right: 800px;
  top: 0px;
}

.hero-bg-2 {
  right: 200px;
  top: 400px;
}

.hero-bg-3 {
  left: 1400px;
  top: -400px;
}

.hero-bg-4 {
  left: 1200px;
  top: 100px;
}

.floating_link:hover {
  text-decoration: underline;
  color: #fff;
}

.f-hover:hover {
  color: #cf0a66;
}

.copyright-text {
  font-size: 0.8rem;
  color: white;
}

.bottom-border {
  padding-bottom: 1em;
  border-bottom: 0.1em solid;
}

.f-icon-padding {
  padding-right: 0.5em;
}

.f-socials {
  color: white;
  padding: 0.8em;
  border: 0.1em solid;
  margin: 0.5em;
}

.f-socials:hover {
  color: #cf0a66;
}

.slide__right {
  -webkit-animation: slideInLeft;
          animation: slideInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.slide__up {
  -webkit-animation: slideInUp;
          animation: slideInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.slide__left {
  -webkit-animation: slideInRight;
          animation: slideInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.slide__down {
  -webkit-animation: slideInDown;
          animation: slideInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fade__in {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.fade__left__in {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fade__right__in {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fade__in__up {
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes arrowsvganim {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes arrowsvganim {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}
.css-selector {
  background: linear-gradient(281deg, #9cff92, #9fcbff, #ffa1f7) !important;
  -webkit-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.rotate_shape {
  -webkit-animation: rotation 10s infinite alternate;
          animation: rotation 10s infinite alternate;
}

.move_shape {
  -webkit-animation: movement4 10s infinite alternate;
          animation: movement4 10s infinite alternate;
}

.move_shape_2 {
  -webkit-animation: movement 7s infinite alternate;
          animation: movement 7s infinite alternate;
}

.move_shape_reverse {
  animation: movement2 10s infinite alternate-reverse;
}

.move_shape_reverse_2 {
  animation: movement3 8s infinite alternate-reverse;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes movement {
  0% {
    transform: translate(-300px, 0);
  }
  100% {
    transform: translate(300px, -300px);
  }
}
@keyframes movement {
  0% {
    transform: translate(-300px, 0);
  }
  100% {
    transform: translate(300px, -300px);
  }
}
@-webkit-keyframes movement2 {
  0% {
    transform: translate(-200px, 0);
  }
  100% {
    transform: translate(200px, -200px);
  }
}
@keyframes movement2 {
  0% {
    transform: translate(-200px, 0);
  }
  100% {
    transform: translate(200px, -200px);
  }
}
@-webkit-keyframes movement3 {
  0% {
    transform: translate(-200px, 100px);
  }
  100% {
    transform: translate(200px, -200px);
  }
}
@keyframes movement3 {
  0% {
    transform: translate(-200px, 100px);
  }
  100% {
    transform: translate(200px, -200px);
  }
}
@-webkit-keyframes movement4 {
  0% {
    transform: translate(-300px, 0);
  }
  100% {
    transform: translate(400px, -400px);
  }
}
@keyframes movement4 {
  0% {
    transform: translate(-300px, 0);
  }
  100% {
    transform: translate(400px, -400px);
  }
}
.shuffle_color {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation-name: backgroundColorPalette;
          animation-name: backgroundColorPalette;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@-webkit-keyframes backgroundColorPalette {
  0% {
    background: #f6e4ff;
  }
  25% {
    background: #d3f6ff;
  }
  50% {
    background: #fdffd5;
  }
  75% {
    background: #ffd9c9;
  }
  100% {
    background: #f8cfd9;
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #f6e4ff;
  }
  25% {
    background: #d3f6ff;
  }
  50% {
    background: #fdffd5;
  }
  75% {
    background: #ffd9c9;
  }
  100% {
    background: #f8cfd9;
  }
}
.shuffle_bg_color {
  -webkit-animation-name: backgroundColorPalettelight;
          animation-name: backgroundColorPalettelight;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes backgroundColorPalettelight {
  0% {
    background: #f6e4ff;
  }
  25% {
    background: #d3f6ff;
  }
  50% {
    background: #fdffd5;
  }
  75% {
    background: #ffd9c9;
  }
  100% {
    background: #f8cfd9;
  }
}

@keyframes backgroundColorPalettelight {
  0% {
    background: #f6e4ff;
  }
  25% {
    background: #d3f6ff;
  }
  50% {
    background: #fdffd5;
  }
  75% {
    background: #ffd9c9;
  }
  100% {
    background: #f8cfd9;
  }
}
.shuffle_mark {
  -webkit-animation-name: backgroundColorPalette2;
          animation-name: backgroundColorPalette2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes backgroundColorPalette2 {
  0% {
    background: #c8afd4;
  }
  25% {
    background: #76cde2;
  }
  50% {
    background: #d4e978;
  }
  75% {
    background: #f59e7c;
  }
  100% {
    background: #eb8ea3;
  }
}

@keyframes backgroundColorPalette2 {
  0% {
    background: #c8afd4;
  }
  25% {
    background: #76cde2;
  }
  50% {
    background: #d4e978;
  }
  75% {
    background: #f59e7c;
  }
  100% {
    background: #eb8ea3;
  }
}
.shuffle_bg_color_light {
  -webkit-animation-name: backgroundColorPalettelight;
          animation-name: backgroundColorPalettelight;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes backgroundColorPalettelight {
  0% {
    background: #f6ebfc;
  }
  25% {
    background: #dff9ff;
  }
  50% {
    background: #fdffdf;
  }
  75% {
    background: #ffe8de;
  }
  100% {
    background: #ffe3ea;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #091337;
}

.nav-link-color {
  color: #fff;
}

.navigation {
  transition: 0.3s ease;
}

.navbar {
  transition: 0.3s ease;
}
@media (max-width: 991px) {
  .navbar-collapse {
    padding-bottom: 20px;
  }
}

.nav-bg {
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 141, 236, 0.1);
}
.nav-bg .navbar {
  padding: 10px 0;
}

.nav-item {
  padding: 20px 10px;
}
@media (max-width: 991px) {
  .nav-item {
    padding: 0;
  }
}

.nav__background__dark {
  background-color: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav__background__light {
  background-color: rgb(255, 255, 255);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

div#navbar {
  padding: 2em;
  border-radius: 1em;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
}

.menu__color__light {
  background-color: #fff;
}

.menu__color__dark {
  background-color: #212329;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.change_back .bar1 {
  transform: rotate(0deg) translate(0px, 0px);
}

.change_back .bar2 {
  opacity: 0;
}

.change_back .bar3 {
  transform: rotate(0deg) translate(0px, 0px);
}

footer {
  background-color: rgb(246, 246, 246);
}

.center {
  text-align: center;
}

.footer-logo {
  width: 250px;
}

.mail-icon-header {
  font-size: 1em;
  padding-right: 0.5em;
}

.header-bg {
  width: 100%;
}

.z-index-nav {
  z-index: 99999 !important;
}

.hotline-info a:hover {
  color: #e00169;
}

.header-area {
  padding: 1em 4em !important;
}
@media (max-width: 767px) {
  .header-area {
    padding: 1em 1em !important;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.horizontal-nav {
  z-index: 99;
  top: 0;
  width: 100%;
}
.horizontal-nav #nav-toggle-btn {
  position: absolute;
  width: 3.5em;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sidenav */
#sidenav {
  /* size factor, 2 for double of sidebar */
  /* side nav width */
  /* increase/decrease to size the close btn */
  font-size: 0.81em;
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 28em;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(28em);
  transition: transform 0.5s;
  /* dropdown style */
}
#sidenav a {
  color: black;
}
#sidenav a:hover {
  color: black;
}
#sidenav .closebtn {
  padding-top: 0.5em;
  flex: 0 0 1.2em;
  font-size: 4em;
  width: 1.5em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent; /* to remove the blinking of tap on mobile */
}
#sidenav .side-nav-items {
  overflow-y: auto;
  width: 100%;
  font-size: 1.3em;
  font-weight: 500;
  padding: 1em 0.5em 1em 2em;
}
#sidenav .side-nav-items .side-item {
  margin-top: 0.5em;
}
#sidenav .side-nav-items .side-item:first-child {
  margin-top: 0;
}
#sidenav.show {
  transform: translateX(0);
}
#sidenav .dropdown {
  color: black;
}
#sidenav .dropdown > a::after {
  content: "^";
  display: inline-block;
  font-size: 0.7em;
  transform: translate(0.5em, -0.25em) rotateZ(180deg);
}
#sidenav .dropdown .dropdown-items {
  padding: 0.3em 0 0.3em 0em;
  max-height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.7s;
}
#sidenav .dropdown .dropdown-items .dropdown-item {
  padding-top: 0.3em;
}
#sidenav .dropdown .dropdown-items .dropdown-item a {
  font-weight: 400;
}
#sidenav .dropdown .dropdown-items .dropdown-item::before {
  content: " ";
}
#sidenav .dropdown:hover { /* remove if want to work the dropdown on click*/ }
#sidenav .dropdown:hover .dropdown-items {
  max-height: 15em;
}

@media only screen and (max-width: 458px) {
  /* sidenav */
  #sidenav {
    /* size factor, 2 for double of sidebar */
    /* side nav width */
    /* increase/decrease to size the close btn */
    font-size: 0.9em;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20em;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(20em);
    transition: transform 0.5s;
    /* dropdown style */
  }
  #sidenav a {
    color: black;
  }
  #sidenav a:hover {
    color: black;
  }
  #sidenav .closebtn {
    flex: 0 0 1.2em;
    font-size: 4em;
    width: 1.5em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /* to remove the blinking of tap on mobile */
  }
  #sidenav .side-nav-items {
    overflow-y: auto;
    width: 100%;
    font-size: 1.3em;
    font-weight: 500;
    padding: 1em 0.5em 1em 1em;
  }
  #sidenav .side-nav-items .side-item {
    margin-top: 0.5em;
  }
  #sidenav .side-nav-items .side-item:first-child {
    margin-top: 0;
  }
  #sidenav.show {
    transform: translateX(0);
  }
  #sidenav .dropdown {
    color: black;
  }
  #sidenav .dropdown > a::after {
    content: "^";
    display: inline-block;
    font-size: 0.7em;
    transform: translate(0.5em, -0.25em) rotateZ(180deg);
  }
  #sidenav .dropdown .dropdown-items {
    padding: 0.3em 0 0.3em 0em;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.7s;
  }
  #sidenav .dropdown .dropdown-items .dropdown-item {
    padding-top: 0.3em;
  }
  #sidenav .dropdown .dropdown-items .dropdown-item a {
    font-weight: 400;
  }
  #sidenav .dropdown .dropdown-items .dropdown-item::before {
    content: " ";
  }
  #sidenav .dropdown:hover { /* remove if want to work the dropdown on click*/ }
  #sidenav .dropdown:hover .dropdown-items {
    max-height: 15em;
  }
}
/* changing scrollbar on desktop */
@media only screen and (min-width: 30rem) {
  #sidenav .side-nav-items::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #CCCCCC;
  }
  #sidenav .side-nav-items::-webkit-scrollbar {
    width: 0em;
    background-color: #757575;
  }
  #sidenav .side-nav-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
  }
  .dropdown-items::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #CCCCCC;
  }
  .dropdown-items::-webkit-scrollbar {
    width: 0.3em;
  }
  .dropdown-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
  }
}
.nav-social-link {
  padding: 0.5em;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
}

.inner-nav {
  box-shadow: 0px 5px 20px 0px rgba(226, 226, 226, 0.473);
  border-radius: 1em;
  padding: 1em;
}

.inner-nav-li a {
  color: #555;
  border: solid 0.05em rgb(240, 240, 240);
  border-radius: 0.3em;
  margin: 0.5em;
  padding: 0.5em;
}
.inner-nav-li a li {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
.inner-nav-li a:hover {
  transition: 0.3s ease-in-out;
  background-color: #EC336C;
  color: white;
}

.active {
  background-color: #EC336C;
}
.active li {
  color: white;
}
.active i {
  color: white;
}

.inner-nav-head {
  display: flex;
  justify-content: center;
}
.inner-nav-head h4 {
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
}

.offer-card {
  border-radius: 0.5em !important;
  max-width: 100% !important;
}

.offer-card-img {
  min-width: 100%;
  min-height: 100%;
  filter: brightness(60%);
  transition: all, 1s;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5em;
}

.col-reverse {
  display: flex;
  flex-direction: row !important;
}
@media (max-width: 767px) {
  .col-reverse {
    display: flex;
    flex-direction: column-reverse !important;
  }
}

.hero-section {
  padding-top: 250px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 300px;
}

.banner-image {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-bg-1 {
  position: absolute;
  left: 80%;
  top: 50%;
}
@media (max-width: 767px) {
  .hero-bg-1 {
    display: none;
  }
}
.hero-bg-2 {
  position: absolute;
  top: 80%;
  left: 20%;
}
@media (max-width: 767px) {
  .hero-bg-2 {
    display: none;
  }
}
.hero-bg-3 {
  position: absolute;
  top: 50%;
  left: 80%;
}
@media (max-width: 767px) {
  .hero-bg-3 {
    display: none;
  }
}
.hero-bg-4 {
  top: 210px;
  right: 40%;
  position: absolute;
}
@media (max-width: 767px) {
  .hero-bg-4 {
    display: none;
  }
}
.hero-bg-5 {
  position: absolute;
  top: 250px;
  right: 25%;
}
@media (max-width: 767px) {
  .hero-bg-5 {
    display: none;
  }
}
.hero-bg-6 {
  position: absolute;
  right: 5%;
  bottom: 40%;
}
@media (max-width: 767px) {
  .hero-bg-6 {
    display: none;
  }
}
.hero-bg-7 {
  position: absolute;
  left: 20%;
  bottom: -17%;
  z-index: 1;
}
@media (max-width: 767px) {
  .hero-bg-7 {
    display: none;
  }
}
.hero-bg-8 {
  position: absolute;
  bottom: -50%;
  right: 50%;
  z-index: 1;
}
@media (max-width: 767px) {
  .hero-bg-8 {
    display: none;
  }
}
.hero-bg-9 {
  position: absolute;
  right: 20%;
  bottom: -10%;
  z-index: 1;
}
@media (max-width: 767px) {
  .hero-bg-9 {
    display: none;
  }
}

.hero-spline {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  z-index: -10;
  -webkit-animation: mymove 5s infinite;
          animation: mymove 5s infinite;
}

svg {
  width: 100%;
  height: 100%;
}
svg g {
  mix-blend-mode: hard-light;
}
svg polygon {
  stroke: none;
  fill: rgb(255, 255, 255);
}

.block-reveal {
  position: relative;
  margin-left: -10px;
}
.block-reveal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  width: 0;
  border: solid;
  border-color: #ffffff;
  opacity: 0;
  -webkit-animation: block-reveal 10s cubic-bezier(0.19, 0, 0.22, 1) 1s forwards infinite;
          animation: block-reveal 10s cubic-bezier(0.19, 0, 0.22, 1) 1s forwards infinite;
}
.block-reveal .text-reveal {
  position: relative;
  margin-left: 20px;
  padding-top: 10px;
  opacity: 0;
  -webkit-animation: text-reveal 10s infinite;
          animation: text-reveal 10s infinite;
}

.block-reveal-2 {
  position: relative;
  padding-right: 10px;
}
.block-reveal-2::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 100%;
  width: 0;
  border: solid;
  border-color: #ffffff;
  opacity: 0;
  -webkit-animation: block-reveal 10s cubic-bezier(0.19, 0, 0.22, 1) 2s forwards infinite;
          animation: block-reveal 10s cubic-bezier(0.19, 0, 0.22, 1) 2s forwards infinite;
}

@-webkit-keyframes block-reveal {
  0% {
    left: 0;
    width: 0;
    opacity: 0;
  }
  30% {
    left: 0;
    width: 100%;
  }
  35% {
    left: 0;
    width: 100%;
  }
  80% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 0;
    width: 0;
    opacity: 1;
  }
}

@keyframes block-reveal {
  0% {
    left: 0;
    width: 0;
    opacity: 0;
  }
  30% {
    left: 0;
    width: 100%;
  }
  35% {
    left: 0;
    width: 100%;
  }
  80% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 0;
    width: 0;
    opacity: 1;
  }
}
@-webkit-keyframes text-reveal {
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text-reveal {
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.feature {
  position: relative;
}
.feature-item h4 {
  line-height: 1;
}
.feature-item p {
  line-height: 25px;
}
.feature-item:hover .feature-icon {
  box-shadow: 0px 18px 43px 0px rgba(0, 141, 236, 0.21);
}
.feature-bg-1 {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}
@media (max-width: 767px) {
  .feature-bg-1 {
    display: none;
  }
}
.feature-bg-2 {
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .feature-bg-2 {
    display: none;
  }
}
.feature-icon {
  display: inline-block;
  height: 90px;
  width: 90px;
  border-radius: 5px;
  color: #fff;
  font-size: 45px;
  line-height: 90px;
  background: #008dec;
  box-shadow: 0px 18px 25px 0px rgba(0, 141, 236, 0.1);
  text-align: center;
  transition: 0.2s ease;
}

.seo {
  position: relative;
  overflow: visible;
}
.seo-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
@media (max-width: 1200px) {
  .seo-bg {
    max-width: 500px;
  }
}
@media (max-width: 991px) {
  .seo-bg {
    max-width: 400px;
  }
}
.seo-bg-shape-1 {
  position: absolute;
  left: 25%;
  top: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .seo-bg-shape-1 {
    display: none;
  }
}
.seo-bg-shape-2 {
  position: absolute;
  right: 2%;
  top: 40%;
  z-index: -1;
}
@media (max-width: 767px) {
  .seo-bg-shape-2 {
    display: none;
  }
}
.seo-bg-shape-3 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
}
@media (max-width: 767px) {
  .seo-bg-shape-3 {
    display: none;
  }
}

.service {
  position: relative;
  overflow: visible;
}
.service-list li {
  margin-bottom: 30px;
  color: #3f4459;
}
.service-list li i {
  margin-right: 20px;
  color: #3f4459;
}
.service-bg {
  position: absolute;
  right: 0;
  top: -10%;
  z-index: -1;
}
@media (max-width: 1200px) {
  .service-bg {
    max-width: 500px;
  }
}
@media (max-width: 991px) {
  .service-bg {
    max-width: 400px;
    top: 0;
  }
}
.service-bg-shape-1 {
  position: absolute;
  left: 0;
  top: 150px;
  z-index: -1;
}
@media (max-width: 767px) {
  .service-bg-shape-1 {
    display: none;
  }
}
.service-bg-shape-2 {
  position: absolute;
  left: 40%;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .service-bg-shape-2 {
    display: none;
  }
}

.team {
  overflow: visible;
  position: relative;
}
.team-slider {
  overflow: hidden;
  padding-bottom: 100px;
}
.team-slider .slick-list {
  overflow: visible;
}
.team-slider .slick-arrow {
  background-color: black;
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 25px;
}
.team-slider .slick-arrow.slick-disabled {
  color: #4d4d4d;
}
.team-slider .prevArrow {
  left: 10px;
}
.team-slider .nextArrow {
  left: 60px;
}
.team-member {
  background: #fff;
  box-shadow: 0px 23px 43px 0px rgba(172, 189, 199, 0.49);
}
.team-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.team-bg-shape-1 {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: -1;
}
@media (max-width: 767px) {
  .team-bg-shape-1 {
    display: none;
  }
}
.team-bg-shape-2 {
  position: absolute;
  top: 100px;
  right: -5px;
  z-index: -1;
}
@media (max-width: 767px) {
  .team-bg-shape-2 {
    display: none;
  }
}
.team-bg-shape-3 {
  position: absolute;
  bottom: 20%;
  right: 40%;
  z-index: -1;
}
@media (max-width: 767px) {
  .team-bg-shape-3 {
    display: none;
  }
}
.team-bg-shape-4 {
  position: absolute;
  bottom: 20%;
  right: 180px;
  z-index: -1;
}
@media (max-width: 767px) {
  .team-bg-shape-4 {
    display: none;
  }
}

.pricing {
  position: relative;
  overflow: visible;
}
.pricing-table {
  padding: 2em;
  transition: 0.2s ease;
}
@media (max-width: 1200px) {
  .pricing-table {
    padding: 30px 20px;
  }
}
.pricing-table h1 {
  font-size: 65px;
}
.pricing-table h1 span {
  font-size: 20px;
  vertical-align: top;
  line-height: 65px;
  margin-right: 5px;
}
.pricing-table:hover {
  box-shadow: 0px 59px 43px 0px rgba(216, 233, 243, 0.3);
}
.pricing-table.table-1 {
  background-image: linear-gradient(59deg, rgb(213, 252, 113) 0%, rgb(100, 254, 171) 95%);
}
.pricing-table.table-2 {
  background-image: linear-gradient(59deg, rgb(6, 255, 223) 0%, rgb(66, 219, 239) 95%);
}
.pricing-table.table-3 {
  background-image: linear-gradient(59deg, rgb(11, 252, 224) 0%, rgb(197, 253, 120) 95%);
}
.pricing-btn {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  font-family: "Staatliches", cursive;
}
@media (max-width: 1200px) {
  .pricing-btn {
    padding: 5px;
  }
}
.pricing-btn:hover {
  color: #fff;
}
.pricing-bg-shape-1 {
  position: absolute;
  left: 30%;
  top: 100px;
  z-index: -1;
}
@media (max-width: 767px) {
  .pricing-bg-shape-1 {
    display: none;
  }
}
.pricing-bg-shape-2 {
  position: absolute;
  right: 10%;
  top: 110px;
  z-index: -1;
}
@media (max-width: 767px) {
  .pricing-bg-shape-2 {
    display: none;
  }
}
.pricing-bg-shape-3 {
  position: absolute;
  bottom: 20%;
  left: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .pricing-bg-shape-3 {
    display: none;
  }
}

.newsletter {
  position: relative;
}
.newsletter-form {
  height: 85px;
  width: 100%;
  padding: 0 40px;
  border: 0;
  background: #fff;
  box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
  border-radius: 5px;
}
.newsletter-form:focus {
  outline: 0;
  box-shadow: 0;
}
.newsletter-btn {
  position: absolute;
  height: 100%;
  background: #8986ff;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 575px) {
  .newsletter-btn {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.newsletter-bg-shape {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .newsletter-bg-shape {
    display: none;
  }
}

.footer {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;
}
.footer-section {
  padding-top: 50px;
  padding-bottom: 10px;
}
.footer-menu a {
  color: #091337;
  display: block;
  padding: 15px;
  font-weight: 400;
}

.social-icon li {
  margin: 0 12px;
}
.social-icon li a {
  height: 45px;
  width: 45px;
  background: #fff;
  border-radius: 5px;
  line-height: 45px;
  display: block;
  text-align: center;
}

.client-logo-slider img {
  transition: 0.2s ease;
}
.client-logo-slider a:hover img {
  transform: scale(1.2);
}

/* service page */
.service-bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 400px;
}

.service-bg-1 {
  position: absolute;
  left: 50px;
  top: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .service-bg-1 {
    display: none;
  }
}
.service-bg-2 {
  position: absolute;
  right: 50px;
  top: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .service-bg-2 {
    display: none;
  }
}
.service-bg-3 {
  position: absolute;
  right: 50px;
  top: 50%;
  z-index: -1;
}
@media (max-width: 767px) {
  .service-bg-3 {
    display: none;
  }
}
.service-bg-4 {
  position: absolute;
  left: 50px;
  bottom: 30%;
  z-index: -1;
}
@media (max-width: 767px) {
  .service-bg-4 {
    display: none;
  }
}
.service-bg-5 {
  position: absolute;
  left: 10%;
  bottom: 5%;
  z-index: -1;
}
@media (max-width: 767px) {
  .service-bg-5 {
    display: none;
  }
}

.dark__card {
  background-color: black;
  padding: 1.5em 1em 1em 1em;
}

.sec__bg__color {
  background-color: rgb(186, 216, 255);
}

.item-1,
.item-2,
.item-3 {
  display: block;
  top: 2em;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.item-1 {
  -webkit-animation-name: anim-1;
          animation-name: anim-1;
}

.item-2 {
  -webkit-animation-name: anim-2;
          animation-name: anim-2;
}

.item-3 {
  -webkit-animation-name: anim-3;
          animation-name: anim-3;
}

@-webkit-keyframes anim-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%, 25% {
    left: 25%;
    opacity: 1;
  }
  33.33%, 100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%, 25% {
    left: 25%;
    opacity: 1;
  }
  33.33%, 100% {
    left: 110%;
    opacity: 0;
  }
}
@-webkit-keyframes anim-2 {
  0%, 33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%, 58.29% {
    left: 25%;
    opacity: 1;
  }
  66.66%, 100% {
    left: 110%;
    opacity: 0;
  }
}
@keyframes anim-2 {
  0%, 33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%, 58.29% {
    left: 25%;
    opacity: 1;
  }
  66.66%, 100% {
    left: 110%;
    opacity: 0;
  }
}
@-webkit-keyframes anim-3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%, 91.62% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}
@keyframes anim-3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%, 91.62% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}
.right__sec {
  overflow-y: auto;
  height: 500px;
}

.hidden {
  display: none;
  margin-top: 20px;
  padding: 5px;
}

.visible:hover .hidden {
  display: block;
}

.seo-image {
  position: relative;
}

.mac_img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 15px;
  left: 23px;
  width: 93%;
}
@media (max-width: 1200px) {
  .mac_img {
    width: 92%;
    left: 20px;
    top: 10px;
  }
}
@media (max-width: 991px) {
  .mac_img {
    width: 92%;
    left: 15px;
    top: 10px;
  }
}
@media (max-width: 767px) {
  .mac_img {
    width: 92%;
    top: 15px;
    left: 23px;
  }
}
@media (max-width: 575px) {
  .mac_img {
    width: 92%;
    left: 24px;
  }
}

.z-index_top {
  z-index: 1000;
}

.blog_card {
  border: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  background-color: rgb(255, 255, 255);
  border-color: rgb(199, 199, 199);
  transform: scale(1);
  box-shadow: 0px 0px 100px 0 #eeeeee;
  transition: transform 0.3s;
}

.blog_card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 100px 0 #dfdfdf;
}

.blog_card_img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.text_overflow_hide {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text_overflow_hide_three {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.explore_all {
  display: flex;
  justify-content: end;
  margin-top: 2em;
}

.explore-btn {
  padding: 0.5em;
  color: black;
}

.explore-btn:hover {
  border: solid;
  border-color: black;
  color: rgb(255, 255, 255);
  background-color: black;
}

.explore_btn_icon {
  padding-left: 10px;
}

.shadow-clr-1 {
  box-shadow: 0px 5px 20px 0px rgba(255, 173, 106, 0.473);
  border-radius: 1em !important;
}

.shadow-clr-2 {
  box-shadow: 0px 5px 20px 0px rgba(186, 255, 106, 0.473);
  border-radius: 1em !important;
}

.shadow-clr-3 {
  box-shadow: 0px 5px 20px 0px rgba(255, 112, 195, 0.473);
  border-radius: 1em !important;
}

.shadow-clr-4 {
  box-shadow: 0px 5px 20px 0px rgba(112, 169, 255, 0.473);
  border-radius: 1em !important;
}

.services-card-height p {
  min-height: 280px;
}
.services-card-height h4 {
  min-height: 75px;
}

.card-adjust {
  min-height: 200px;
}

.read-more-arrow {
  font-size: 2em !important;
  color: gray;
}

.read-more-arrow-circle {
  padding-left: 0.5em;
  font-size: 1em !important;
  color: gray;
}

.bg-black {
  background-color: #000;
}

.card {
  border-radius: 5px;
  height: 300px;
  overflow: hidden;
  max-width: 400px;
}
.card .category-img {
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
  transition: all, 1s;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-img-overlay {
  display: flex;
  flex-direction: column !important;
  flex-direction: column-reverse !important;
}
.card .card-img-overlay .category-card-title {
  bottom: 50%;
  color: white;
  text-shadow: 2px 2px 10px #000;
}
.card .card-img-overlay h4 {
  color: white;
}
.card .card-img-overlay p {
  color: white;
}
.card .card-img-overlay p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:hover .category-img {
  transform: scale(1.2);
}

.arrow-center {
  display: flex;
  justify-content: center;
}
.arrow-center i {
  font-size: 5em;
}
.arrow-center a:hover {
  color: #e00169;
}

.item-center {
  display: flex;
  justify-content: center;
}

.hero-bg-height {
  min-height: 100vh !important;
}

.blog_card_img_anim {
  transition: all, 1s;
}

.blog_card_img_anim:hover {
  transform: scale(1.05);
}

.about {
  position: relative;
  overflow: visible;
}
.about-video {
  position: relative;
}
.about-video .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about-bg-1 {
  position: absolute;
  left: 30%;
  top: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .about-bg-1 {
    display: none;
  }
}
.about-bg-2 {
  position: absolute;
  top: 30%;
  right: 40px;
  z-index: -1;
}
@media (max-width: 767px) {
  .about-bg-2 {
    display: none;
  }
}
.about-bg-3 {
  position: absolute;
  bottom: 20%;
  left: 30px;
  z-index: -1;
}
@media (max-width: 767px) {
  .about-bg-3 {
    display: none;
  }
}
.about-bg-4 {
  position: absolute;
  top: 20%;
  left: 40px;
  z-index: -1;
}
@media (max-width: 767px) {
  .about-bg-4 {
    display: none;
  }
}
.about-bg-5 {
  position: absolute;
  bottom: 10%;
  right: 40px;
  z-index: -1;
}
@media (max-width: 767px) {
  .about-bg-5 {
    display: none;
  }
}
.about-bg-6 {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .about-bg-6 {
    display: none;
  }
}

.play-btn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: #fff;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  background: #7aff91;
  display: inline-block;
  transition: 0.2s ease;
  box-shadow: 0px 23px 43px 0px rgba(94, 254, 198, 0.3);
}
.play-btn:hover {
  color: #fff;
  font-size: 30px;
}

.product {
  position: relative;
  overflow: visible;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.about-bg {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: -1;
}

@media (max-width: 991px) {
  .mobile-gap-3 {
    display: flex;
    gap: 2em;
  }
}

.form-control {
  height: 65px;
  width: 100%;
  background: #f7fafc;
}
.form-control:focus {
  border-color: #008dec;
  box-shadow: none;
}

textarea.form-control {
  height: 157px;
}

.contact-bg {
  background-color: rgba(236, 243, 255, 0.8274509804);
  padding: 3em;
}
@media (max-width: 767px) {
  .contact-bg {
    padding: 2em 0.5em;
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
  }
}

.round-icon {
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.round-icon.green {
  background: #ecffd2;
  color: #84d600;
}
.round-icon.blue {
  background: #e0f1ff;
  color: #008cff;
}
.round-icon.orange {
  background: #fff1e0;
  color: #ff8b00;
}
.round-icon.pink {
  background-color: #ffdceb;
  color: #ff50b0;
}

.contact {
  position: relative;
}
.contact-bg-1 {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .contact-bg-1 {
    display: none;
  }
}
.contact-bg-2 {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .contact-bg-2 {
    display: none;
  }
}
.contact-bg-3 {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: -1;
}
@media (max-width: 767px) {
  .contact-bg-3 {
    display: none;
  }
}
.contact-bg-4 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .contact-bg-4 {
    display: none;
  }
}
.contact-bg-5 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: -1;
}
@media (max-width: 767px) {
  .contact-bg-5 {
    display: none;
  }
}

.appointment_btn {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
}

.feature {
  position: relative;
}
.feature-item h4 {
  line-height: 1;
}
.feature-item p {
  line-height: 25px;
}
.feature-item:hover .feature-icon {
  box-shadow: 0px 18px 43px 0px rgba(0, 141, 236, 0.21);
}
.feature-icon {
  display: inline-block;
  height: 90px;
  width: 90px;
  border-radius: 5px;
  color: #fff;
  font-size: 45px;
  line-height: 90px;
  box-shadow: 0px 18px 25px 0px rgba(0, 141, 236, 0.1);
  text-align: center;
  transition: 0.2s ease;
}
.feature-icon_orange {
  background: #F75411;
}
.feature-icon_green {
  background: #7DD302;
}
.feature-icon_pink {
  background: #EC336C;
}

.service_hero {
  position: absolute;
  -webkit-mask-image: linear-gradient(rgb(255, 255, 255), transparent);
          mask-image: linear-gradient(rgb(255, 255, 255), transparent);
}

.try-btn {
  padding: 0.5em;
  color: rgb(255, 255, 255);
  background-color: black;
}

.try-btn:hover {
  border: solid;
  border-color: black;
  color: rgb(0, 0, 0);
}

.try-hover-bg-orange:hover {
  background-color: #f1a27e;
}

.try-hover-bg-blue:hover {
  background-color: #89d0ff;
}

.try-hover-bg-pink:hover {
  background-color: #fdabc8;
}

.try-hover-bg-green:hover {
  background-color: #d2fd96;
}

.bg-orange {
  background-color: #f1a27e;
}

.bg-blue {
  background-color: #89d0ff;
}

.bg-pink {
  background-color: #fdabc8;
}

.bg-green {
  background-color: #d2fd96;
}

.strategies_head {
  font-weight: 400;
  font-family: "Staatliches", cursive;
}

.strategies_snip {
  font-weight: 400;
  font-family: "Staatliches", cursive;
}
@media (max-width: 767px) {
  .strategies_snip {
    font-size: 1.5rem !important;
  }
}

.strategies_img_head {
  font-weight: 400;
  font-family: "Staatliches", cursive;
  padding-top: 150px;
  width: inherit;
}

.strategies_video_head {
  font-weight: 400;
  font-family: "Staatliches", cursive;
  padding-top: 16px;
  width: inherit;
}

.poly_shape_service_1 {
  position: absolute;
  top: 400px;
  right: 0;
}
@media (max-width: 767px) {
  .poly_shape_service_1 {
    display: none;
  }
}

.poly_shape_service_2 {
  position: absolute;
  top: 0px;
  left: 0;
}
@media (max-width: 767px) {
  .poly_shape_service_2 {
    display: none;
  }
}

.text-xs {
  font-size: 16px;
  line-height: 1.5em;
  min-height: 65px;
  font-weight: 400;
}

.bg-clr {
  padding: 1em;
  border-radius: 0.5em;
}
.bg-clr-orange {
  background-color: rgb(255, 243, 232);
}
.bg-clr-blue {
  background-color: rgb(222, 242, 255);
}
.bg-clr-pink {
  background-color: rgb(252, 232, 249);
}
.bg-clr-green {
  background-color: rgb(237, 252, 232);
}

.service-card {
  border: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  background-color: rgb(255, 255, 255);
  border-color: rgb(199, 199, 199);
  transform: scale(1);
  box-shadow: 0px 0px 100px 0 #eeeeee;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 100px 0 #dfdfdf;
}

.service-lists {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .service-lists h3 {
    font-size: 1.5rem;
  }
  .service-lists i {
    padding-top: 0.5em;
  }
}

.service-lists ul li {
  display: flex;
}
.service-lists ul li h4 {
  text-align: left;
}

.service-card-inner {
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  display: flex;
}

.fa-icon-service {
  padding-top: 1.1em;
}

.fa-icon-cm {
  width: 2em !important;
  color: rgb(230, 138, 0);
}

.fa-icon-em {
  width: 2em !important;
  color: rgb(28, 129, 160);
}

.orange-text {
  color: rgb(230, 138, 0);
}

.blue-text {
  color: rgb(28, 129, 160);
}

.services-video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

.video-card-bg {
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 0.5em;
  width: inherit;
  height: inherit;
}

.em-card {
  padding: 1em;
  border: 0.05em solid;
  border-color: rgb(164, 220, 255);
  border-radius: 0.5em;
  background-color: #ffffff;
}

.em-list {
  min-height: 300px;
}

.em-blue {
  color: #89d0ff;
}

.video-card {
  max-width: 100%;
}

.services-video {
  filter: brightness(50%);
}/*# sourceMappingURL=style.css.map */