.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;
}

.nav-link-color
{
  color: $white;
}

.navigation {
  transition: .3s ease;
}

.navbar {
  transition: .3s ease;
  &-collapse{
    @include desktop {
      padding-bottom: 20px;
    }
  }
}

.nav-bg {
  background-color: $white;
  box-shadow: 0px 10px 20px 0px rgba(0, 141, 236, 0.10);

  .navbar {
    padding: 10px 0;
  }
}

.nav-item {
  padding: 20px 10px;
  @include desktop {
    padding: 0;
  }
}


.nav__background__dark {
  background-color: black;
  width: max-content;
}

.nav__background__light {
  background-color: rgb(255, 255, 255);
  width: max-content;
}

div#navbar {
  padding: 2em;
  border-radius: 1em;
}

// ....................................

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
}

.menu__color__light{
  background-color: $white;
}

.menu__color__dark{
  background-color: $dark;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
}

.change_back .bar1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.change_back .bar2 {opacity: 0;}

.change_back .bar3 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

footer{
  background-color: rgb(246, 246, 246);
}
.center{
  text-align: center;
}

.footer-logo{
  width: 250px;
}

.mail-icon-header{
  font-size: 1em;
  padding-right: .5em;
}


.header-bg{
width: 100%;
}

.z-index-nav{
  z-index: 99999 !important;
}


.hotline-info{
  a:hover{
    color: #e00169;
  }
}

.header-area{
  padding: 1em 4em !important;

  @include tablet {
    padding: 1em 1em !important;
  }
}

// .........................NAV-NEW..............................

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  font-family: $secondary-font;
  font-weight: bold;
}


.horizontal-nav{
  z-index: 99;
  top:0;
  width: 100%;
  #nav-toggle-btn{
    position: absolute;
    width: 3.5em;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



/* sidenav */
#sidenav{
  $size-f: 0.9; /* size factor, 2 for double of sidebar */
  $width: 28em; /* side nav width */
  $back-color: rgb(255, 255, 255);
  $text-color: rgb(0, 0, 0);
  $close-btn-s: 4em; /* increase/decrease to size the close btn */
  $nav-item-s: 1.3em; 
  font-size: .9em*$size-f;
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: $width;
  background-color: $back-color;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  a{color: darken($text-color, 30);}
  a:hover{color: darken($text-color,80);}
  .closebtn{
    padding-top: .5em;
    flex: 0 0 1.2em;
    font-size: $close-btn-s; 
    width: 1.5em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /* to remove the blinking of tap on mobile */
  }
  .side-nav-items{
    overflow-y: auto;
    width: 100%;
    font-size: $nav-item-s;
    font-weight: 500;
    padding: 1em 0.5em 1em 2em;
    .side-item{
      margin-top: .5em;
      // border-bottom: 1px solid #2f2f2f;
      &:first-child{margin-top: 0;}
    }
  }
  transform: translateX($width);  
  transition: transform 0.5s;
  &.show{
    transform: translateX(0);
  }
  /* dropdown style */
  .dropdown{
    color: darken($text-color, 80);
    > a::after{
      content: "^";
      display: inline-block;
      font-size: 0.7em;
      transform: translate(0.5em, -0.25em) rotateZ(180deg);
    }
    .dropdown-items{
      padding: 0.3em 0 0.3em 0em;
      max-height: 0;
      overflow-x: hidden;
      overflow-y: scroll;
      transition: all 0.7s;
      .dropdown-item{
        padding-top: 0.3em;
        a{
          font-weight: 400;
        }
        &::before{
          content: " ";
        }
      }
    }
    &:hover{   /* remove if want to work the dropdown on click*/
      .dropdown-items{
        max-height: 15em;
      }
    }
  }
}

@media only screen and (max-width:458px){

  /* sidenav */
 #sidenav{
   $size-f: 0.9; /* size factor, 2 for double of sidebar */
   $width: 20em; /* side nav width */
   $back-color: rgb(255, 255, 255);
   $text-color: rgb(0, 0, 0);
   $close-btn-s: 4em; /* increase/decrease to size the close btn */
   $nav-item-s: 1.3em; 
   font-size: 1em*$size-f;
   z-index: 100;
   position: fixed;
   right: 0;
   top: 0;
   height: 100%;
   width: $width;
   background-color: $back-color;
   overflow-x: hidden;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   a{color: darken($text-color, 30);}
   a:hover{color: darken($text-color,80);}
   .closebtn{
     flex: 0 0 1.2em;
     font-size: $close-btn-s; 
     width: 1.5em;
     height: 1.2em;
     display: flex;
     justify-content: center;
     align-items: center;
     -webkit-tap-highlight-color: transparent; /* to remove the blinking of tap on mobile */
   }
   .side-nav-items{
     overflow-y: auto;
     width: 100%;
     font-size: $nav-item-s;
     font-weight: 500;
     padding: 1em 0.5em 1em 1em;
     .side-item{
       margin-top: .5em;
      //  border-bottom: 1px solid #2f2f2f;
       &:first-child{margin-top: 0;}
     }
   }
   transform: translateX($width);  
   transition: transform 0.5s;
   &.show{
     transform: translateX(0);
   }
   /* dropdown style */
   .dropdown{
     color: darken($text-color, 80);
     > a::after{
       content: "^";
       display: inline-block;
       font-size: 0.7em;
       transform: translate(0.5em, -0.25em) rotateZ(180deg);
     }
     .dropdown-items{
       padding: 0.3em 0 0.3em 0em;
       max-height: 0;
       overflow-x: hidden;
       overflow-y: scroll;
       transition: all 0.7s;
       .dropdown-item{
         padding-top: 0.3em;
         a{
          font-weight: 400;
        }
         &::before{
           content: " ";
         }
       }
     }
     &:hover{   /* remove if want to work the dropdown on click*/
       .dropdown-items{
         max-height: 15em;
       }
     }
   }
 }
 }


/* changing scrollbar on desktop */
@media only screen and (min-width:30rem){
  #sidenav .side-nav-items{
    &::-webkit-scrollbar-track
    {
      border-radius: 10px;
      background-color: #CCCCCC;
    }
    &::-webkit-scrollbar{
      width: 0em;    //hide side-nav-items scrollbar
      background-color: #757575;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background-color: #555;
    }
  }
  .dropdown-items{
    &::-webkit-scrollbar-track
    {
      border-radius: 10px;
      background-color: #CCCCCC;
    }
    &::-webkit-scrollbar{
      width: 0.3em;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background-color: #555;
    }
  }
}

// ..................................................................

.nav-social-link{
 padding: .5em;
}

.sticky-top{
  position: sticky;
}