.feature {
  position: relative;

  &-item {
    h4 {
      line-height: 1;
    }

    p {
      line-height: 25px;
    }

    &:hover {
      .feature-icon {
        box-shadow: 0px 18px 43px 0px rgba(0, 141, 236, 0.21);
      }
    }
  }

  &-icon_orange {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    color: $white;
    font-size: 45px;
    line-height: 90px;
    background: $cb-orange;
    box-shadow: 0px 18px 25px 0px rgba(0, 141, 236, 0.10);
    text-align: center;
    transition: .2s ease;
  }
}

.service_hero{
  position: absolute;
  mask-image: linear-gradient(rgb(255, 255, 255), transparent);
}

.try-btn {
  padding: .5em;
  // border: solid;
  // border-color: black;
  color: rgb(255, 255, 255);
  // border-width: .2em;
  background-color: black;
 }
 .try-btn:hover{
  border: solid;
  border-color: black;
  color: rgb(0, 0, 0);
 }
 .try-hover-bg-orange:hover{
  background-color: $cb-orange-pastel;
}
.try-hover-bg-blue:hover{
  background-color: $cb-blue-pastel;
}
.try-hover-bg-pink:hover{
  background-color: $cb-pink-pastel;
}


.bg-orange{
  background-color: $cb-orange-pastel;
}
.bg-blue{
  background-color:  $cb-blue-pastel;
}
.bg-pink{
  background-color:  $cb-pink-pastel;
}

.strategies_head{
  font-weight: 400;
  font-family: 'Staatliches', cursive;
}
.poly_shape_service_1{
  position: absolute;
  top:400px;
  right: 0;
}
.poly_shape_service_2{
  position: absolute;
  top:0px;
  left: 0;
}

.text-xs{
  font-size: 14px;
  line-height: 1.5em;
  min-height: 65px;
}

.bg-clr{
  padding: 1em;
  border-radius: .5em;

  &-orange{
  background-color: rgb(255, 243, 232);
  }
  &-blue{
  background-color: rgb(222, 242, 255);
  }
}

.service-card{
  border: solid;
  border-width: .1em;
  border-radius: .5em;
  background-color: rgb(255, 255, 255);
  border-color: rgb(199, 199, 199);
  transform: scale(1);
  box-shadow: 0px 0px 100px 0 #eeeeee;
  transition: transform .3s;
}
.service-card:hover{
  transform: scale(1.02);
  box-shadow: 4px 4px 100px 0 #dfdfdf;
}


.service-lists{
  display: flex;
  justify-content: center;
}
.service-lists ul li{
  display: flex;
}