.feature {
  position: relative;

  &-item {
    h4 {
      line-height: 1;
    }

    p {
      line-height: 25px;
    }

    &:hover {
      .feature-icon {
        box-shadow: 0px 18px 43px 0px rgba(0, 141, 236, 0.21);
      }
    }
  }

  &-icon {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    color: $white;
    font-size: 45px;
    line-height: 90px;
    box-shadow: 0px 18px 25px 0px rgba(0, 141, 236, 0.10);
    text-align: center;
    transition: .2s ease;

    &_orange {
      background: $cb-orange;
    }
    &_green {
      background: $cb-green;
    }
    &_pink {
      background: $cb-pink-2;
    }
  }
  }
 


.service_hero{
  position: absolute;
  mask-image: linear-gradient(rgb(255, 255, 255), transparent);
}

.try-btn {
  padding: .5em;
  // border: solid;
  // border-color: black;
  color: rgb(255, 255, 255);
  // border-width: .2em;
  background-color: black;
 }
 .try-btn:hover{
  border: solid;
  border-color: black;
  color: rgb(0, 0, 0);
 }
 .try-hover-bg-orange:hover{
  background-color: $cb-orange-pastel;
}
.try-hover-bg-blue:hover{
  background-color: $cb-blue-pastel;
}
.try-hover-bg-pink:hover{
  background-color: $cb-pink-pastel;
}
.try-hover-bg-green:hover{
  background-color: $cb-green-light;
}



.bg-orange{
  background-color: $cb-orange-pastel;
}
.bg-blue{
  background-color:  $cb-blue-pastel;
}
.bg-pink{
  background-color:  $cb-pink-pastel;
}
.bg-green{
  background-color: $cb-green-light;
}

.strategies_head{
  font-weight: 400;
  font-family: 'Staatliches', cursive;
}

.strategies_img_head{
  font-weight: 400;
  font-family: 'Staatliches', cursive;
  padding-top: 150px;
  width: inherit;
}

.strategies_video_head{
  font-weight: 400;
  font-family: 'Staatliches', cursive;
  padding-top: 16px;
  width: inherit;
}

.poly_shape_service_1{
  position: absolute;
  top:400px;
  right: 0;

  @include tablet {
    display: none;
  }
}
.poly_shape_service_2{
  position: absolute;
  top:0px;
  left: 0;
  
  @include tablet {
    display: none;
  }
}

.text-xs{
  font-size: 14px;
  line-height: 1.5em;
  min-height: 65px;
}

.bg-clr{
  padding: 1em;
  border-radius: .5em;

  &-orange{
  background-color: rgb(255, 243, 232);
  }
  &-blue{
  background-color: rgb(222, 242, 255);
  }
  &-pink{
    background-color: rgb(252, 232, 249);
  }
  &-green{
    background-color: rgb(237, 252, 232);
  }
      
  
}

.service-card{
  border: solid;
  border-width: .1em;
  border-radius: .5em;
  background-color: rgb(255, 255, 255);
  border-color: rgb(199, 199, 199);
  transform: scale(1);
  box-shadow: 0px 0px 100px 0 #eeeeee;
  transition: transform .3s;
}
.service-card:hover{
  transform: scale(1.02);
  box-shadow: 4px 4px 100px 0 #dfdfdf;
}


.service-lists{
  display: flex;
  justify-content: center;
  @include tablet {
    h3{
      font-size: 1.5rem;
    }
    i{
      padding-top: .5em;
    }
  }
}

.service-lists ul li{
  display: flex;
 h4{
    text-align: left;
  }
}
.service-card-inner{
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  display: flex;
}
.fa-icon-service{
  padding-top: 1.1em;
}
.fa-icon-cm{
  width: 2em !important;
  color: rgb(230, 138, 0);
}
.fa-icon-em{
  width: 2em !important;
  color: rgb(28, 129, 160);

}

.orange-text{
  color: rgb(230, 138, 0);
}
.blue-text{
  color: rgb(28, 129, 160);
}


.services-video{
  object-fit: cover;
  height: 400px;
}

.video-card-bg{
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: .5em;
  width: inherit;
  height: inherit;
}


// ...............event-management.................

.em-card{
  padding: 1em;
  border: .05em solid;
  border-color: rgb(164, 220, 255);
  border-radius: .5em;
  background-color: #ffffff;
}
.em-list{
  min-height: 300px;
}

.em-blue{
  color: $cb-blue-pastel;
}